/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .avatar {
   border-radius: 50%;
   border: 2px solid #fff;
   background-color: #fff;
   &:hover {
     border: 2px solid #F0F8FF;
   }
 }

 .avatar-nav {
   display: inline-block;
   margin-top: -24px;
 }

 /* CUSTOM CSS */
 html {
   position: relative;
   min-height: 100%;
 }

 body {
   /* Margin bottom by footer height */
   margin-bottom: 40px;
 }

 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 40px;
 }

 a {
 	color: DarkSlateGray;
 }

 p {
 	margin-bottom: 0;
 	margin-top: 0
 }

 .headerspace {
 	margin-bottom: 1cm;
 }

 .titlespace {
 	margin-bottom: 0.1cm;
 }

 .profile-img {
   margin-top: -100px;
 	height: 150px;
 	weight: 150px;
 	box-shadow: 1px 1px 1px 1px grey;
 }

 .frog {
 	margin-left: 0.4cm;
 	border-radius: 50%;
 	height: 75px;
 	weight: 75px;
 	box-shadow: 0.1px 0.1px 0.1px 0.1px grey;
 }

 .fixfloater {
 	float:left
 }

 .hello {
 	font-size: 20px;
 	font-family: bungee
 }

 .bruno {
 	font-size: 25px;
 	font-family: bungee
 }

 .myname {
 	font-size: 20px;
 	font-family: ewert
 }

 .softdeve {
 	font-size: 15px;
 	font-family: fascinate
 }

 .list-inline {
   padding-left: 0;
   margin-left: -5px;
   list-style: none;
 }

 .list-inline > li {
   display: inline-block;
   padding-right: 5px;
   padding-left: 5px;
 }

 .parrot {
 	margin-left: 0.4cm;
 	height: 75px;
 	weight: 75px
 }

 .mantra {
 	color: white
 }
