.nav-icon {
  font-size: 30px;
  color: rgb(70,70,70);
  line-height: 0;
}

body {
  min-height: 50rem;
  padding-top: 4.5rem;
}

.dropdown-menu {
  margin: 0;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-trans {
  background: transparent;
}
