<% if user_signed_in? %>
  <span>
    <%= link_to(destroy_user_session_path, method: :delete, class: 'nav-link') do %>
      <div style="font-size:2em; color:white; line-height: 0px; margin-top: -8px;">
        <i class="fas fa-sign-out-alt"></i>
      </div>
    <% end %>
  </span>
<% else %>
  <span>
    <%= link_to(t(:login), new_user_session_path)  %>
  </span>
<% end %>
