<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #390046;">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="<%= asset_path('logoback.png') %>" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
  </div>
</nav>
