<footer class="footer">
  <div class="container">
    <span class="text-muted text-right">© • <%= current_year %> • <%= application_title.upcase %></span>
  </div>
</footer>

<%= stylesheet_link_tag 'sticky_footer', media: 'all' %>
